#SiteNav{
    Width: 100%;
}
.site-nav-home{
    background: #f8f8f8;
    border-width: 1px 0;
    border-style: solid;
    border-color: #E7E7E7;
}
.site-nav-home .site-nav-bd{
    height: 39px;
    background: #F7F7F7;
}
.site-nav{
    z-index: 10000;
}
.site-nav .site-nav-bd .site-nav-bd-r{
    float: right;
}
#nav-bd .site-nav-bd-r .menu{
    float: left;
}
.site-nav-bd .menu{
    float: left;
}

.site-nav-home .site-nav-bd .menu .menu-hd{
    height: 39px;
    line-height: 39px;
}
.site-nav-bd .menu-reg .menu-hd{
    padding: 0 8px;
    background-color: transparent;
}
.site-nav-bd .menu .menu-hd{
    z-index: 10002;
    position: relative;
    padding: 0 8px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    display: block;
    zoom: 1;
    margin-right: -1px;
}
.site-nav-home .site-nav-bd .menu .menu-hd a{
    color: #666;
}
.site-nav-bd .menu .menu-hd a{
    float: left;
    font-size: 14px;
    color: #666;
}
.site-nav-bd a{
    color: #666;
    font-weight: bold;
}
a{
    text-decoration: none;
}
.site-nav-bd .site-nav-pipe .site-nav-pipe-line{
    display: block;
    width: 13px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -6px;
    text-align: center;
}

.site-nav-home .site-nav-bd .site-nav-bd-r .site-nav-pipe{
    height: 39px;
    line-height: 39px;
}
.site-nav .site-nav-bd .site-nav-bd-r .site-nav-pipe{
    float: left;
    height: 40px;
    line-height: 40px;
}
.site-nav-home .site-nav-bd .site-nav-pipe{
    color: #cfd2db;
}
.site-nav-bd .site-nav-pipe{
    position: relative;
    width: 1px;
    padding: 0;
    font-style: normal;
    color: #485065;
    overflow: hidden;
}
.site-nav-bd .menu-login{
    margin-right: 10px;
}

ol, ul{
    list-style: none;
}
li{
    display: list-item;
}
*{
    padding: 0;
    margin: 0;
}