<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/books.css') }}">
{% block books %}
    <div id="content-book" class="article">
        <div class="section books-express">
            <div class="bd">
                <div class="carousel">
                    <div class="hd">
                        <h2 class>
                            <span class>Recommend</span>
                            <span class="link-more">
                                <a class href="#">more»</a>
                            </span>
                        </h2>
                    </div>
                    <div class="slide-list">
                        <ul class="list-col list-col5 list-express slide-item">
                            {% for book in books %}
                                <li>
                                    <div class="cover">
                                        <a href="/books/{{book.name}}" title="book-info">
                                            <img src="{{book.cover}}" width="200px" height="150px" />
                                        </a>
                                    </div>
                                    <div class="info">
                                        <div class="title">
                                            <a class href="/books/{{book.name}}" title="book-title">{{book.name}}</a>
                                        </div>
                                        <div class="author">
                                            {{book.author}}
                                        </div>
                                        <div class="score">
                                            {{book.score}}
                                        </div>
                                        <div class="more-meta">
                                            <h4 class="title"></h4>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}