<title>{{ book.name }}</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/book.css') }}">
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
<script src="{{ url_for('static', filename='js/userop.js') }}"></script>
{% block book_info %}
    <div id="wrapper">
        <h1>
            <span id="book_name">{{ book.name }}</span>
            <span id="book_id" style="display: none;">{{ book.isbn }}</span>
            <div class="clear"></div>
        </h1>
        <div id="content">
            <div class="grid-16-8 clearfix">
                <div class="article">
                    <div class="indent">
                        <div class="subjectwrap clearfix">
                            <div class="subject clearfix">
                                <div id="mainpic">
                                    <a href="{{ book.cover }}" title="{{ book.name }}">
                                        <img src="{{ book.cover }}" alt="{{ book.name }}">
                                    </a>
                                </div>

                                <div id="info">
                                    <span>
                                        <span class="pl">Author : </span>
                                        <a class="" href="">{{ book.author }}</a>
                                    </span>
                                    <br>
                                    <span class="pl">
                                        ISBN :
                                    </span>
                                    {{ book.isbn }}
                                    <br>
                                    <a id="buy" class="behaviour">Buy</a>
                                </div>

                            </div>
                        </div>
                        <div id="interest_sectl">
                            <div class="rating_wrap clearbox">
                                <div class="rating_logo">Rating</div>
                                <div class="rating_self clearfix">
                                    <strong class="ll rating_num">9.2</strong>
                                    <span content="10.0"></span>

                                    <div class="rating_right">
                                        <div class="ll bigstar50">
                                        </div>
                                        <div class="rating_sum">
                                            <span class>
                                                <a href="" class="rating_people">
                                                    <span>14</span>
                                                     people scored
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="interested" class="right">
                <div class="block5">
                    <h4 class>
                        <span class>Maybe Interested:</span>
                        <span class="link-more">
                            <a class href="#">more»</a>
                        </span>
                    </h4>
                    <div class="clearfix content s" id="book_rec">
                        <ul class="list-col list-col5 list-express slide-item">
                            {% for book in interested_books %}
                                <li>
                                    <div class="cover">
                                        <a href="/books/{{book.name}}" title="book-info">
                                            <img src="{{book.cover}}" width="80px" />
                                        </a>
                                    </div>
                                    <div class="info">
                                        <div class="title">
                                            <a class href="/books/{{book.name}}" title="book-title">{{book.name}}</a>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}