<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book-Recommender</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/homepage.css') }} />
</head>
<body>
    <div>
        <div id="SiteNav" class="site-nav site-nav-home">
            <div id="SiteNavBd" class="site-nav-bd">
                <ul id="SiteNavBdR" class="site-nav-bd-r">
                    <li class="menu menu-reg">
                        <div id="MenuRegHd" class="menu-hd">
                            <a href="userpage.html" target="_top">Register</a>
                        </div>
                    </li>
                    <li class="site-nav-pipe">
                        <span class="site-nav-pipe-line">|</span>
                    </li>
                    <li class="menu menu-login">
                        <div id="MenuLoginHd" class="menu-hd" >
                            <a href="userpage.html" target="_top">Login</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div id="nav-book" class="nav">
        <div class="nav-wrap">
            <div class="nav-primary">
                <div class="nav-logo">
                    <a href="https:&#47;&#47;book.douban.com">GiveMeBooks</a>
                </div>
                <div class="nav-search">
                    <form action="https:&#47;&#47;book.douban.com/subject_search" method="get">
                        <fieldset>
                            <legend>Search：</legend>
                            <label for="inp-query"></label>
                            <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="BookName、Author、ISBN" value=""></div>
                            <div class="inp-btn"><input type="submit" value="search"></div>
                            <input type="hidden" name="cat" value="1001" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="content-book" class="article">
        <div class="section books-express">
            <div class="bd">
                <div class="carousel">
                    <div class="slide-list">
                        <ul class="list-col list-col5 list-express slide-item">
                            {% for book in books %}
                                <li>
                                    <div class="cover">
                                        <a href="/books/{{book.name}}" title="book-info">
                                            <img src="{{book.cover}}" width="200px" height="150px" />
                                        </a>
                                    </div>
                                    <div class="info">
                                        <div class="title">
                                            <a class href="/books/{{book.name}}" title="book-title">{{book.name}}</a>
                                        </div>
                                        <div class="author">
                                            {{book.author}}
                                        </div>
                                        <div class="score">
                                            {{book.score}}
                                        </div>
                                        <div class="more-meta">
                                            <h4 class="title"></h4>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>