<!DOCTYPE html>
<title>Book-Recommender</title>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
<!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/nav_top.css') }}">-->
<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}">-->

<div class="page">
    {% include 'nav_top.html' %}
    {% include 'search.html' %}
    {% block nav %} {% endblock %}
    {% block hint %} {% endblock %}
    {% block content %} {% endblock %}
</div>