<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}">
{% block search %}
    <div id="nav-book" class="nav">
        <div class="nav-wrap">
            <div class="nav-primary">
                <div class="nav-logo">
                    <a href="/">GiveMeBooks</a>
                </div>
                <div class="nav-search">
                    <form id=“search-form” method="get" action="/search/" onsubmit="">
                        <fieldset>
                            <legend>Search：</legend>
                            <label for="inp-query"></label>
                            <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="BookName、Author、ISBN" value=""></div>
                            <div class="inp-btn"><input type="submit" value="search"></div>
                            <input type="hidden" name="cat" value="1001" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}