<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/userinfo.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
{% extends 'layout.html' %}

{% block content %}
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>
    <div id="user">
        <div class="info">
            <div class="hd">
                <h2>User info</h2>
            </div>
            <div class="avatar">
                <img src="{{url_for('static', filename='images/default_avatar.png')}}"/>
            </div>
            <div class="name">
                <div class="infoline">
                    <span class="key">Name: </span>
                    <span id="info_name" class="value">{{username}}</span>
                </div>
            </div>
        </div>
        <div class="history buyed">
            <!--<div class="nav hd">-->
                <!--<h2>Buy History ></h2>-->
                <!--<br>-->
            <!--</div>-->
            {% include 'books.html' %}
        </div>
    </div>
{% endblock %}