<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/userinfo.css') }}">

{% extends 'layout.html' %}

{% block content %}
    <div id="user">
        <div class="info">
            <div class="title">
                <span>User info></span>
                <br>
            </div>
            <div class="avatar">
                <img src="{{url_for('static', filename='images/default_avatar.png')}}"/>
            </div>
            <div class="name">
                <span>Name: </span>{{username}}
            </div>
        </div>
        <div class="history buyed">
            <div class="nav title">
                <span>Buy History></span>
                <br>
            </div>
            {% include 'books.html' %}
        </div>
    </div>
{% endblock %}